doctype html
html(lang="en")
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:300,400,400i,700')
        link(rel='stylesheet', href='/css/style.css')
        link(rel='stylesheet', href='/css/proddetails.css')
        link(rel='stylesheet', href='/css/register.css')
        link(rel='stylesheet', href='/css/vendorregs.css')
        link(rel='stylesheet', href='/css/update.css')


        link(rel='shortcut icon', href='/img/favicona.png', type='image/png')
        title  A&f #{tittle}
    body
        //header
        include _header1

        //content
        block  content


        //footer
        include _footer
        
