.hdheadr{
    display: flex;
    margin-top: 0px;
    width: 100vw;
    height: 10vh;
    background-color: rgb(50, 51, 51);

}
/* .hdheadrtxt{
    width:100px;
    height: 8px;
} */
.hdheadrtxt1{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 1rem;
  }
  .hdheadrtxt2 {
    -webkit-box-flex: 0;
     -ms-flex: 0 1 40%; 
    flex: 0 1 40%;
  }
.hdlogoimg{
    width:5.5vw;
    height: 5.1rem;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}